{% extends 'blog/base.html' %}

{% block content %}
    <div class="post-container">
        {% for post in posts %}
            <div class="post-list">
                <div class="date">
                    Publicado - {{ post.published_date }}
                </div>
                <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                <p class="text-justify">{{ post.text }}</p>
                <span>Autor: {{ post.author }}</span>
                <a href="{% url 'post_detail' pk=post.pk %}">Comentarios: {{ post.approved_comments.count }}</a>
            </div>
        {% endfor %}
    </div>
    
{% endblock %}