h1 a, h2 a {
    color: #088e3c;
    font-size: 30px;
}

a span{
    color: #ffffff;
}


.date {
    color: #f7f5f5;
}

.post-form textarea, .post-form input {
    width: 100%;
    border-radius: 20px;
    padding: 10px;
}

.save {
    width: 100%;
    background: #118738;
    color: #e2f1f8;
}

.post {
    margin-bottom: 20px;
    margin-top: 40px;
    padding: 30px;
    color: #ffffff;
    border-radius: 20px;
}

.post .date {
    color: #9f9a9a;
}

.post-list {
    border: 1px solid #ffffff;
    margin-bottom: 20px;
    margin-top: 40px;
    padding: 30px;
    border-radius: 20px;
    height: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #9f9a9a;
}

.post-list p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.post-list .date {
    color: #9f9a9a;
}

.post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}



.post h2 a, .post h2 a:visited {
    color: #b90e0e;
}

body {
    background-color: #000000;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

.header{
    background-color: #118738;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    height: 100px;
    padding: 50px;
}

.div-fecha-botones{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    border-bottom: 1px solid #3a3939;
    padding-bottom: 10px;
    color: #9f9a9a;
}

.botones{
    display: flex;
    gap: 10px;
}

.header .logo a{
    color: #e2f1f8;
    font-size: 40px;
}

.div-editar-post{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    color: #a7a7a7;
}



.icono-editar span{
    font-size: 30px;
    color:#118738
}

.icono-eliminar span{
    font-size: 30px;
    color:#ce0606
}

.comment {
    margin: 20px 0px 20px 20px;
}